ConsoleApp1/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:element name="GetStationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetStationListResult" nillable="true" type="q1:ArrayOfStationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineTraceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineTraceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetLineTraceListResult" nillable="true" type="q2:ArrayOfLineTraceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationOnLineList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationOnLineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetStationOnLineListResult" nillable="true" type="q3:ArrayOfStationOnLineType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArrivalTimeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArrivalTimeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetArrivalTimeListResult" nillable="true" type="q4:ArrayOfArrivalTimeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusInformationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusInformationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetBusInformationListResult" nillable="true" type="q5:ArrayOfBusDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetBusListResult" nillable="true" type="q6:ArrayOfbus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetTimetableListResult" nillable="true" type="q7:ArrayOfTimetableType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableList44">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableList44Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetTimetableList44Result" nillable="true" type="q8:ArrayOfTimetableType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBusMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="busInfo" nillable="true" type="q9:MeasurementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Synchronization">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynchronizationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>